.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;

    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    font-family: Arial, sans-serif;
}

.titulo {
    margin: 0 0 25px;
    text-align: center;
    color: #333;
    font-size: 32px;
}

.lista {
    margin-bottom: 25px;
    text-align: center;
}

ul{
    list-style: none;
}

.controles {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.input {
    flex: 1;
    min-width: 200px;
    padding: 12px 15px;

    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;

    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
}

.btnTarefas {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.btnTarefas:hover {
    transform: translateY(-1px);
}

.adicionar {
    background-color: #4f46e5;
}

.adicionar:hover {
    background-color: #4338ca;
}

.limpar {
    background-color: #ef4444;
}

.limpar:hover {
    background-color: #dc2626;
}

@media (max-width: 500px) {
    .container {
        margin: 20px;
        padding: 20px;
        width: auto;
    }

    .titulo {
        font-size: 26px;
    }

    .controles {
        flex-direction: column;
    }

    .input,
    .botao {
        width: 100%;
    }
}