/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.App-header {
  background-color: white;
  width: 100%;
  max-width: 700px;
  padding: 50px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.App-header h1 {
  color: #1e293b;
  font-size: 32px;
  margin-bottom: 35px;
}

.botao {
  display: grid;
  margin-bottom: 10px;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;

}

.botao:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
}
